:root{
  --min-button-size:44px;
  --item-height:49px;
  
  /*Pattern1*/
/*  --background-color:white;
  --border-color:white;
  --persons-color:#bf545e;
  --items-color:#86b070;
  --state-color:#e6d9b9;
  --operations-color:#149bdf;
  --downbtns-color:#a5a79a;*/

  /*Pattern2*/
  --background-color:#f8f4e6; /*象牙色*/
  --border-color:#f8f4e6; /*象牙色*/
  --persons-color:#f0908d; /*薄紅*/
  --items-color:#b9d08b; /*薄若葉*/
  --state-color:#dcdddd; /*白鼠*/
  --operations-color:#84a2d4; /*青藤色*/
  --downbtns-color:#dcd3b2;  /*砂色*/
}
body{
  background-color: var(--background-color);
  user-select:none;
  -moz-user-select:none;
  font-family: Meiryo, メイリオ, sans-serif;;
}

p {
  margin:0;
}

#container {
  text-align:center;

}
/* ### flexを用いたtimelineの枠組みの設定 ### */

#timeline {
  display:inline-flex;
  flex-direction:column-reverse;
  align-items:center;
}

.acc{
  display:inline-flex;
  flex-grow:1;
}

/* 人数表示部分 */
.persons{
  display:inline-flex;
  width:50px;
  flex-direction:column;
}

.persons > .id {
  flex-grow:1;
  display:inline-flex;
  align-items:center;
  justify-content:center;  
}

.persons > .display {
  flex-grow:8;
  display:inline-flex;
  align-items:center;
  justify-content:center;
}

.wrapb{
  margin-left:auto;
  flex-direction:column;
}

/* 注文内容表示部分 */
.menu{
  display:inline-flex;
  flex-wrap:wrap;
  width:400px;
}

.menu > .item {
  display:inline-flex;
  align-items:center;
  width:45%;
  flex-grow:1;
}
.menu > .item > .name{
  line-height: var(--item-height);
  height: var(--item-height);
  flex-grow:1;
}

.state {
  display:inline-flex;
  flex-direction: column;
  flex-grow:1;
  width:80px;
}

.state > :nth-child(n){
  display:inline-flex;
  align-items:center;
}
.state > :nth-child(n) > .text{
  flex-grow: 1;
}
.state > .pre{
  flex-grow:3;
}
.state > .now{
  flex-grow:2;
}
.state > .next{
  flex-grow:3;
}

/* 操作（clear, order)ボタン */
.operation{
  display:inline-flex;
  flex-direction:column;
  justify-content:space-around;
  flex-shrink:1;
}

.operation > :nth-child(n){
  flex-grow:1;
  display:inline-flex;
  align-items:center;
}

.operation > :nth-child(n) > .text{
  flex-grow:1;
}

/* ### それぞれのdiv要素や文字に関しての細かな設定　### */
body{
  font-size:18px;
}
.acc {
  margin-bottom:10px;
  /*background-color: brown;*/
}
.acc > :not(:last-child){
  border-right: inset 3px var(--border-color);
}
.acc > :first-child{
  background-color: var(--persons-color);
  color:white;
  border-radius: 5px 0px 0px 5px;
}

.acc > :last-child{
  background-color: var(--operations-color);
  color:white;
  border-radius: 0px 5px 5px 0px;
}

.persons > .id {
  color:white;
  font-size:20px;
}
.persons > .display > .n {
  font-size:35px;
}

.persons > .display > .p {
  font-size:15px;
}
.wrapb {
  width:var(--min-button-size);
  height:var(--min-button-size);
  display:inline-flex;
  background-color: var(--downbtns-color);
  border-radius: 5px 5px 5px 5px;
}


.menu > :not(:nth-child(2n + 1)){
  border-bottom: inset 2px var(--border-color);
}

.menu > :not(:nth-last-child(1)){
  border-bottom: inset 2px var(--border-color);
}



.menu > :nth-child(2n){
  border-right: inset 2px var(--border-color);
}
.menu > :nth-child(2n +1){
  border-right: inset 2px var(--border-color);
}

.menu > .item {
  padding-right:2px;
  background-color: var(--items-color);
}
.menu > .item > .name {
  text-align:center;
  color: white;
}
.down{
  font-size:20px;
  color:white;
  margin:auto;
}

.state {
  background-color:var(--state-color);
}

.operation > :nth-child(n){
}


/* state */

.state > .pre > .text{
  font-size:15px;
}
.state > .now > .text{
}
.state > .next {
  font-size:15px;
}
